html,body {
  margin: 0;
  background-color: #B21B00;
  font-family: 'Oswald', sans-serif;
}

.title{
  text-align: center;
  font-size: 60px;
}

.container {
  margin: 1% auto;
}
table, th, td {
  border: black 2px solid;
}

.table{
  border-collapse: collapse;
  margin: 1% auto;
  width: 90%;
  background-color: #fff;

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  thead.category {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    background-color: #4CE3FE;

    .recent,.all-time{
      cursor: pointer;
      width: 20%;
    }
    .key{
      width: 5%
    }
  }
  .user-row{
    padding: 5px 0;
    img {
      width: 50px;
      height: 50px;
      margin-left: 25px;
      float: left;
      background-color: #fff;
      border: black 1px solid;
    }
  }
}
